@{
    ViewData["Title"] = "About";
}

 <!-- About -->
    <section id="outline" class="p-5 createBackground" style="border-bottom: 3px solid black;">
        <div class="container">
                <div class="py-5">
                    <h2 class="text-danger">About</h2>
                    <hr />
                    <p>
                        The D&amp;D Customer Management System (CMS) is an online tool meant to assist Dungeons and Dragons players create, view, and store the various characters &amp; creatures used in their campaigns.
                        Developed for an informatics class in the Fall of 2022, this project was developed in order to gain skills and expierence in the field of web development.
                        It was encouraged to create an application relevant to an interest or hobby, and as I frequently play D&amp;D I decided to base my site around it.
                        The idea for a character management system was inspired by the customer managements systems used by businesses.
                    </p>
                    <p>
                        This website is built using the ASP.NET MVC Core framework in C#.
                        The database is in SQL Server with the backend using ADO.NET for communication to and from the database.
                        The frontend makes use of Bootstrap 5 and JQuery as I wanted to gain more experience using commonly seen libraries (I had mostly used vanilla CSS and Javascript before developing this site).
                        The D&amp;D CMS is hosted on an AWS server using the IIS webserver. 
                        While all of the artwork used has been modified to suit the website's needs, very little of it besides the logo is originally mine.
                        The art that I did edit/create was done so in Adobe Photoshop.
                    </p>
                        This site received its last major update in early December 2022.
                        As its original vision has been fulfilled, the project is more or less complete.
                        That being said, improvements, modifications, and other updates may still be in the works so stay tuned to see what's next!
                    </p>
                    <p>
                        As I currently use the domain name "kenibenj" for a personal website, it made sense just to use a subdomain for this webapp instead of purchasing another domain name.
                        If you are interested in me or my other projects, you can learn more at my site <a href="https://kenibenj.com">kenibenj.com</a>.
                    </p>
            </div>
        </div>
    </section>

    <style>
        a{
            color: black;
            transition: .08s;
        }
        a:hover{
            color: black;
            opacity: 55%;
        }
    </style>
