@{
    ViewData["Title"] = "User Guide";
}

 <!-- About -->
    <section id="outline" class="p-5 createBackground" style="border-bottom: 3px solid black;">
        <div class="container">
                <div class="py-5">
                    <h2 class="text-danger">User Guide</h2>
                    <hr />
                    <div>
                        <h5>Table of Contents</h5>
                        <ul>
                            <li><a href="#1">How To <strong style="color: #dc3545;">Register</strong> An Account</a></li>
                            <li><a href="#2">How To <strong style="color: #dc3545;">Login</strong> To An Account</a></li>
                            <li><a href="#3">How to <strong style="color: #dc3545;">Create</strong> A Character</a></li>
                            <li><a href="#4">How to <strong style="color: #dc3545;">View My</strong> Characters</a></li>
                            <li><a href="#8">How to <strong style="color: #dc3545;">View All</strong> Characters</a></li>
                            <li><a href="#5">How to <strong style="color: #dc3545;">Edit</strong> A Character</a></li>
                            <li><a href="#6">How to <strong style="color: #dc3545;">Delete</strong> A Character</a></li>
                            <li><a href="#7">Frequently Asked <strong style="color: #dc3545;">Questions</strong></a></li>
                        </ul>
                    </div>
                    <hr />

                    <h5 id="1">How to <strong style="color: #dc3545;">Register</strong> An Account</h5>
                    <p>
                        To register a new account, first find and click on the <strong>Register</strong> label on the right hand side of the navigation bar at the top of the screen.
                        Once at the Register page, enter in what you want the username and password of the account to be into their respective input boxes.
                        Clicking the button with the eye on it allows the password to become visible.
                        When you are done inputting the username and password, click the <strong>Register</strong> button at the bottom of the screen.
                        Congratulations, you now have an account and can create, update, and delete your own characters!
                    </p>
                    <hr />
                    <h5 id="2">How to <strong style="color: #dc3545;">Login</strong> to An Account</h5>
                    <p>
                        To login into a preexisting account, first find and click on the <strong>Login</strong> label on the right hand side of the navigation bar at the top of the screen.
                        Once at the Login page, enter in the username and password of the account you are trying to log on to into their respective input boxes.
                        Clicking the button with the eye on it allows the password to become visible.
                        When you are done inputting the username and password, click the <strong>Login</strong> button at the bottom of the screen.
                        If the credentials were valid, you will be logged into the account which you will see by observing how the right hand side of the navigation bar now lists the account's username.
                        If the credentials were invalid, you will be informed as such and will remain on the Login page.
                    </p>
                    <hr />
                    <h5 id="3">How to <strong style="color: #dc3545;">Create</strong> A Character</h5>
                    <p>
                        To create a character, first find and click on the <strong>Create New Character</strong> label on the left hand side of the navigation bar at the top of the screen.
                        <strong>You must be logged into an account in order to create a character. If you are not logged in you will be taken to the user Register page</strong>.
                        Once you are at the Create a New Character page, you can input the values for each attribute of the character.
                        The character card shown on the right will update as values are changed so you will always know how the card will end up looking.
                        Only the name, race, and class of a character are required inputs, the rest have default values and do not need to be filled.
                        While technically the description can be as long as you want, it is recommended to use 30 words or less for the description as this makes the character card's appearance more pleasant.
                        When you are done creating your character, clicking the <strong>Create</strong> button at the bottom of the screen will finalize the creation of the character.
                    </p>
                    <hr />
                    <h5 id="4">How to <strong style="color: #dc3545;">View My</strong> Characters</h5>
                    <p>
                        To view your characters, first find and click on the <strong>My Character</strong> label on the left hand side of the navigation bar at the top of the screen.
                        <strong>You must be logged into an account in order to be able to see the My Characters label</strong>.
                        Once you are at the My Characters page, you can see all of the characters you have created, regardless of their publicity.
                        You can use the search box to search through the characters; The search box will search across the entire card for the given keyword.
                        Clicking on a card will send you to a page where you can edit that respective card.
                    </p>
                    <hr />
                    <h5 id="8">How to <strong style="color: #dc3545;">View All</strong> Characters</h5>
                    <p>
                        To view all public characters, first find and click on the <strong>View Character</strong> label on the left hand side of the navigation bar at the top of the screen.
                        Once you are at the View Characters page, you can see all public characters, regardless of who created them.
                        You can use the search box to search through the characters; The search box will search across the entire card for the given keyword.
                        Clicking on a card will send you to a page where you can view that respective card by itself.
                        If you are logged into the account that created the card, you will be allowed to edit the card as well.
                    </p>
                    <hr />
                    <h5 id="5">How to <strong style="color: #dc3545;">Edit</strong> A Character</h5>
                    <p>
                        To edit a character, first find and click on either the <strong>View Characters</strong> or <strong>My Characters</strong> label on the left hand side of the navigation bar at the top of the screen.
                        <strong>You must be logged into the account that created the character in order to edit it</strong>.
                        From there you must find the card that you want to edit; Use the search bar if you are having trouble locating the card.
                        Click on the card once you have found it and this will take you to the page with details about the card.
                        In order to edit the attributes of the card, toggle on the 'Allow Edits' switch which will highlight the editable attributes of the card.
                        Simply click on the highlighted area in order to change it.
                        Once you are done making edits, click on the <strong>Save</strong> button at the bottom of the screen to save the changes.
                        If you do not see the extra features such as the 'Allow Edits' switch and the 'Save' button, it means you are not logged into the account that created the character.
                    </p>
                    <hr />
                    <h5 id="6">How to <strong style="color: #dc3545;">Delete</strong> A Character</h5>
                    <p>
                        To delete a character, first find and click on either the <strong>View Characters</strong> or <strong>My Characters</strong> label on the left hand side of the navigation bar at the top of the screen.
                        <strong>You must be logged into the account that created the character in order to delete it</strong>.
                        From there you must find the card that you want to delete; Use the search bar if you are having trouble locating the card.
                        Click on the card once you have found it and this will take you to the page with details about the card.
                        In order to delete the the card, click on the <strong>Delete</strong> button at the bottom of the screen to delete the card.
                        There is no 'Are you Sure' prompt; Once you click the delete button the character will be permanently deleted.
                        If you do not see the extra features such as the 'delete' button, it means you are not logged into the account that created the character.
                    </p>
                    <hr />
                    <h5 id="7">Frequently Asked <strong style="color: #dc3545;">Questions</strong></h5>
                    <p>
                        <strong>Can I change my account's username or password?</strong> <br />Unfortunately, no. This feature may be implemented in the future, however.
                    </p>
                    <p>
                        <strong>What does making a character 'public' mean?</strong> <br />A public character will show up on the 'View Character' page where it can be viewed by everyone.
                        A non-public will only be visible through the 'My Character' page when logged into the account that owns that character.
                    </p>
                    <p>
                        <strong>I have not played D&amp;D and do not know what the values mean. What do I do?</strong> <br />This site does not, as of yet, provide the information for those who do not understand the character creating mechanics of D&amp;D.
                        As a result, it is assumed that users will already have the necessary knowledge; If you do not, it is recommended that you read up on how to create a character <a style="text-decoration: underline" href="https://www.dndbeyond.com/sources/basic-rules/step-by-step-characters">here</a>.
                    </p>
                    <p>
                        <strong>Why doesn't my selected image show up in the character card?</strong> <br />This is most likely due to the image being of an unsupported file format.
                        Only .jpgs, .jpegs, .pngs, .gifs, and .webps are accepted.
                    </p>
                    <p>
                        <strong>Why does my image look weird in the character card?</strong> <br />This is most likely due to the image being contorted to fit entirely within the image circle on the card.
                        For best results, use an image that has a square resolution.
                    </p>
            </div>
        </div>
    </section>
    <style>
        a{
            text-decoration: none;
            color: black;
            transition: .08s;
        }
        a:hover{
            color: black;
            opacity: 55%;
        }
    </style>